/* Pour accéder à une classe, on met un point avant le nom de la classe */
.button {
	-fx-background-color: linear-gradient(#87CEFA, #B0C4DE);
	-fx-background-radius:30;
	-fx-text-fill:white;
}

.button:pressed {
	-fx-padding: 15;
	-fx-background-color:orange;
}

.customButton {
	-fx-background-color:red;
}

/* j'accède à un ID avec #nomId*/
#bigButton {
	-fx-font-size:40;
}